#head{
 margin:0;
    padding:0;
	
color:black;
text-align:center;


size:20px;
}
#title{
 margin:0;
    padding:0;
color:black;
text-align:center;
font-style:italic;
size: 20px;
}
#heading{
 margin:0;
    padding:0;
color:black;
text-align:center;
font-style:bold;

size:80px;
}
#title2{
 margin:0;
    padding:0;
color:black;
text-align:center;

size:40px;
